# Environment Variables

# Optional: Set up the Hugging Face token. Now unused since the TACK dataset is
# public.
# HF_TOKEN=/your/HF_TOKEN/value/here
# HF_HOME=/your/HF_HOME/directory/here
TACKAI_CACHE=/your/TACKAI_CACHE/directory/here